<div class="container">
    <h2>
        <strong>Starfinder Character Creator</strong>
    </h2>
    <br/>
    <p>This is kind of a personal test project for me, just to get into web debelopment with ASP.NET Core MVC<br />
    I have planned quite a few featres...
    </p>   
    <p>Such as:</p>
    <ul>
        <li>Individual user Logins</li>
        <li>Random Character Creaton</li>
        <li>PDF Export (as long as Paizo comes out with a form fillable Character Sheet)</li>
        <li>And many more...<li>
    </ul>
    <h4>
        <strong>What is Starfinder?!</strong>
    </h4>
    <p>
        Starfinder is a Roleplaying game from <a href="https://paizo.com">paizo.com</a><br />
        It is basically <a href="https://paizo.com/Pathfinder">Pathfinder</a> in Space.<br />
        <br />
        Find more out about it by visiting Stafinders <a href="http://paizo.com/Starfinder">official Homepage</a>
    </p>
    <p>I have absolutely no timeframe for this project since it is just a pet project.<br />
    For questions shoot me a mail at w00p[at]darktemple[dot].ch</p>
    <p>
    <br/>
    <div>
        <h4>Links:</h4>
        <h5>Core Info and Documentation</h5>
        <ul>
            <li><a href="https://www.asp.net/core/overview/aspnet-vnext">Official asp.net core Homepage</a></li>
            <li><a href="https://docs.microsoft.com/en-us/aspnet/core/">ASP.Net Core Documentaiton</a></li>
        </ul>
        <h5>Other Links:</h5>
        <ul>
            <li><a href="https://github.com/mmader">My GitHub</a></li>
            <li><a href="https://www.darktemple.ch">My Personal Homepage with a usefullish wiki and a completely abandoned blog</a></li>
        </ul>
    </div>
</div>

