@using Starfinder.Models
@model Character
<div class="container">
    <h3>
        <strong>Create a new Character</strong>
    </h3>
    <form id="form1" name="form1" asp-controller="CreateCharacter">
        <div id="name" class="form-group">
            <label >Character Name: </label>
            <input asp-for="Name" class="form-control"  placeholder="Character Name">
            <select asp-for="Rasse" class="form-control">
                <option>ANDROIDS</option>
                <option>HUMANS</option>
                <option>KASATHAS</option>
                <option>SHIRRENS</option>
                <option>VESK</option>
                <option>YSOKI</option>
            </select>
        </div>
    </form>
    <button id="button1" onclick="onClick()" name="btn" value="test" type="button" class="btn btn-dark">Save</button>
    <script>
        function onClick() { $(form1).submit() }
    </script>
</div>

