@using Starfinder.Models
@model Character
<div class="container">
    <h3>
        <strong>Create a new Character</strong>
    </h3>
    <form id="form1" name="form1" asp-controller="CreateCharacter" asp-action="Save">
        <div id="name" class="form-group">
            <label >Character Name: </label>
            <input asp-for="@Model.Name" class="form-control">
            <select asp-for="@Model.Race" class="form-control">
                <option>ANDROIDS</option>
                <option>HUMANS</option>
                <option>KASATHAS</option>
                <option>SHIRRENS</option>
                <option>VESK</option>
                <option>YSOKI</option>
            </select>
            <select asp-for="@Model.Class" class="form-control">
                <option>ENVOY</option> 
                <option>MECHANIC</option>
                <option>MYSTIC</option>
                <option>OPERATIVE</option>
                <option>SOLARIAN</option>
                <option>SOLDIER</option>
                <option>TECHNOMANCER</option>
            </select>
        </div>
        <button id="button1" name="btn" value="test" type="submit" class="btn btn-dark">Save</button>
        <button id="Random" name="btnRandom" asp-action="Randomize" class="btn btn-dark">Random</button>
    </form>
</div>

