@using Starfinder.Models
@model IEnumerable<Character>
@{
    <h2>
        <strong>Characters</strong>
    </h2>
    foreach(var character in Model) {
        @Html.Partial("CharacterSummary", character)
    }
}
